body {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
}

h1 {
    border-top: 2px solid rgb(0, 70, 201);
    border-bottom: 2px solid rgb(0, 70, 201);
    padding: 10px;
    width: auto;
    display: block;
}

h4 {
    text-align: left;
    margin: 0;
}
.instructions {
    text-align: left;
    border: 2px solid rgb(207, 124, 0);
    padding: 10px;
    display: inline-block;
    margin-top: 15px;
    box-sizing: border-box;
}

.instructions:hover {
    cursor: grab;
    background-color: azure;
}

#instructionsUl {
    display: none; 
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 3px 0;
}

.box {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(0, 70, 201);
    font-size: 30px;
    border-radius: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

#gameGrid {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px 60px 60px;
    margin: 40px auto;
    justify-content: center;

}

.keyboard {
    margin: 0 auto 35px auto;
}

div.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

button {
    margin: 2px 2px;
    border: 2px solid rgb(0, 70, 201);
    width: 50px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(170, 170, 170);
    border-radius: 8%;

} 


#delete {
    width: 75px;
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0)
}

#delete:hover {
    background-color: rgb(255, 108, 108);
}

#enter {
    width: 75px;
    background-color: rgb(30, 255, 0);
    color: rgb(0, 0, 0)
    
}

#enter:hover {
    background-color: rgb(200, 255, 117);
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.key:hover {
    cursor: grab; 
    background-color: rgb(91, 91, 91);   
}

#youWin {
    font-size: 50px;
    background-color: greenyellow;
    height: auto;
    width: 50%;
    position: fixed;
    top: 45%;
    left: 25%;
    opacity: 0;
    border: 2px solid black;
}

#youLose {
    font-size: 50px;
    background-color: rgb(255, 82, 47);
    height: auto;
    width: 50%;
    position: fixed;
    top: 45%;
    left: 25%;
    opacity: 0;
    border: 2px solid black;
}