body {
    text-align: center;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(rgb(160, 222, 255), rgb(119, 255, 149)); 
    background-position: center top;
    background-size: 100% 100%;
}

h1 {
    border-top: 2px solid rgb(0, 70, 201);
    border-bottom: 2px solid rgb(0, 70, 201);
    width: 50%;
    max-width: 450px;
    padding: 10px;
    margin: 30px auto 10px;
    display: block;
    font-family: 'Inter', sans-serif;
}

h4 {
    text-align: left;
    margin: 0;
}
.instructions {
    text-align: left;
    border: 2px solid rgb(0, 70, 201);
    padding: 10px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    max-width: 90%;
}

.instructions:hover {
    cursor: grab;
    background-color: azure;
}

#instructionsUl {
    display: none; 
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    padding: 3px 0;
}

.box {
    width: 50px;
    height: 50px;
    border: 2px solid rgb(0, 70, 201);
    background: white;
    font-size: 30px;
    border-radius: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

#gameGrid {
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px;
    grid-template-rows: 60px 60px 60px 60px 60px 60px;
    margin: 30px auto;
    justify-content: center;

}

.keyboard {
    margin: 50px auto 35px auto;
}

div.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.key {
    margin: 1px 1px;
    border: 2px solid rgb(0, 70, 201);
    width: 6%;
    max-width: 50px;
    height: 50px;
    font-size: 14px;
    background-color: rgb(200, 200, 200); 
    border-radius: 8%;
    display: flex;
    justify-content: center;
    align-items: center;    
} 


#delete {
    width: 14%;
    max-width: 65px;
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0)
}

#delete:hover {
    background-color: rgb(255, 108, 108);
}

#enter {
    width: 14%;
    max-width: 65px;
    background-color: rgb(30, 255, 0);
    color: rgb(0, 0, 0)
    
}

#enter:hover {
    background-color: rgb(200, 255, 117);
}

.key:hover {
    cursor: grab; 
    background-color: rgb(91, 91, 91);   
}

#youWin {
    font-size: 30px;
    background-color: rgb(144, 270, 144);
    height: auto;
    width: 50%;
    position: fixed;
    top: 45%;
    left: 25%;
    opacity: 0;
    border: 2px solid black;
    z-index: -1;
}

#youLose {
    font-size: 30px;
    background-color: rgb(255, 82, 47);
    height: auto;
    width: 50%;
    position: fixed;
    top: 25%;
    left: 25%;
    opacity: 0;
    border: 2px solid black;
    z-index: -1;
}

#yourStreak {
    font-size: 30px;
    background-color: rgb(144, 270, 144);
    height: auto;
    width: 50%;
    position: fixed;
    top: 45%;
    left: 25%;
    opacity: 0;
    border: 2px solid black;
    z-index: -1;
}

#alertDiv {
    font-size: 18px;
    background-size: 60px;
    background-repeat: no-repeat;
    background-color: rgb(255, 136, 0);
    height: auto;
    width: 600px;
    max-width: 75%;
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    border: 2px solid black;
    text-align: center;
    display: grid;
    grid-template-columns: .5fr 2fr .5fr;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

#alertButton {
    height: 25px;
    padding: 2px;
    margin: 0px 4px 0px 2px;
}

#winStreak {
    color: black;
    font-size: 18px;
    font-weight: 900;
}

#winPlayAgain {
    margin-bottom: 6px;
}

#losePlayAgain {
    margin-bottom: 6px;
}

#streakDismissButton {
    margin-bottom: 6px;
}

#difficulty {
    margin: 20px 0px 10px 0px;
}

#backgroundMusic {
    margin: 20px 0px;
}

.selected {
    opacity: 0.5;
}

#easy {
    color:rgb(144, 270, 144);
    background-color: black;
    border-radius: 10%;
    height: 26px;
}

#medium {
    color:yellow;
    background-color: black;
    border-radius: 10%;
    height: 26px;
}

#hard {
    color:red;
    background-color: black;
    border-radius: 10%;
    height: 26px;
}

#beethoven, #mozart, #bach, #noMusic {
    background-color: black;
    color: white;
    border-radius: 10%;
    height: 26px;
}

#beethoven:hover, #mozart:hover, #bach:hover, #noMusic:hover {
    color: black;
    background-color: white;
    cursor:grab;
}

#easy:hover, #medium:hover, #hard:hover {
    color: black;
    background-color: white;
    cursor:grab;
}

.selectedMusic {
    opacity: 0.5;
}

@media only screen 
and (max-device-width: 1000px){ 
    .key {
        margin: .5px .5px;
        width: 7%;
    }

    h1 {
        width: fit-content;
    }

    #youWin, #youLose, #yourStreak {
        width: 80%;
        left: 10%;
        font-size: 20px;
    }

    #backgroundMusic, #difficulty {
        font-size: 12px;
    }

    #beethoven, #mozart, #bach, #noMusic, #easy, #medium, #hard {
        font-size: 12px;
        margin: 0px;
    }
}